/* NEW STYLES FOR NEW SHEET STYLE */

.loot-sheet-npc .window-header .header-button {
  background: none;
}

:is(.dnd5e-theme-dark, .theme-dark) .loot-sheet-npc.sheet.actor.npc .ability-score > img,
.loot-sheet-npc.sheet.actor.npc.dnd5e-theme-dark .ability-score > img {
  filter: invert(1);
}

.loot-sheet-npc input.currency {
  color: inherit;
}

.loot-sheet-npc .sheet-header {
  /* max-height: 120px; */
}

.loot-sheet-npc.sheet.actor.npc .sheet-header > .left {
  align-items: center;
  justify-content: center;
  display: flex;
}

.loot-sheet-npc .sheet-header .portrait {
  width: 100%;
  border: none;
}
.loot-sheet-npc .sheet-header .portrait img {
  /* width: 100px;
  height: 100px; */
  justify-self: center;
}

.loot-sheet-npc .middle input {
  color: inherit;
}

.loot-sheet-npc .bottom {
  justify-content: flex-end;
}

.loot-sheet-npc.sheet.actor.npc .sheet-body .main-content .inventory-element .bottom .encumbrance {
  border: none;
  box-shadow: none;
}

:is(.dnd5e-theme-dark, .theme-dark) .loot-sheet-npc.sheet.actor.npc .window-content::before,
.loot-sheet-npc.sheet.actor.npc.dnd5e-theme-dark .window-content::before {
  background: none;
}

:is(.dnd5e-theme-dark, .theme-dark) .loot-sheet-npc.sheet.actor.npc .window-content > form::before,
.loot-sheet-npc.sheet.actor.npc.dnd5e-theme-dark .window-content > form::before {
  content: '';
  position: absolute;
  inset: 0 0 auto 0;
  height: 300px;
  border-radius: 5px 5px 0 0;
  opacity: 0.2;
  -webkit-mask-image: linear-gradient(to bottom, black, transparent);
  mask-image: linear-gradient(to bottom, black, transparent);
}

:is(.dnd5e-theme-dark, .theme-dark)
  .loot-sheet-npc.sheet.actor.npc:not(.minimized).type-Loot::before,
.loot-sheet-npc.sheet.actor.npc.dnd5e-theme-dark:not(.minimized).type-Loot::before {
  background: url(../images/bg-loot.jpg) no-repeat bottom center / cover;
}

:is(.dnd5e-theme-dark, .theme-dark)
  .loot-sheet-npc.sheet.actor.npc:not(.minimized).type-Merchant::before,
.loot-sheet-npc.sheet.actor.npc.dnd5e-theme-dark:not(.minimized).type-Merchant::before {
  background: url(../images/bg-merchant.jpg) no-repeat bottom center / cover;
}

.loot-sheet-npc .header-elements,
.loot-sheet-npc .preparation-warnings,
.loot-sheet-npc .attunement,
.loot-sheet-npc a.item-control.interface-only[data-toggle-description] {
  display: none !important;
}

.loot-sheet-npc .items-section .item .item-controls {
  padding: 0 0 0 4px;
}

.loot-sheet-npc.sheet.actor.npc .sheet-header input {
  background: rgba(0, 0, 0, 0.45);
}

.loot-sheet-npc .flexrow {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.loot-sheet-npc .pills-group {
  margin-bottom: 1rem;
}

.loot-sheet-npc .permissions-list {
  margin: 0;
  padding-left: 1rem;
  list-style: none;
}

.loot-sheet-npc li.permission {
  text-indent: -0.5rem;
}

.loot-sheet-npc button.update-inventory {
  color: inherit;
}

.loot-sheet-npc .currency.false,
.loot-sheet-npc .middle.false,
.loot-sheet-npc .tab.biography.active.false {
  margin-left: 196px;
}

.loot-sheet-npc .tab.inventory.active.false {
  padding-left: 0 !important;
}

.loot-sheet-npc .item-buy,
.loot-sheet-npc .item-buyall,
.loot-sheet-npc .item-loot,
.loot-sheet-npc .item-lootall {
  color: var(--color-text-light-6) !important;
}

.loot-sheet-npc header.window-header.flexrow.draggable.resizable {
  margin: 0 !important;
}

.loot-sheet-npc.sheet.actor.npc .sheet-body .main-content .tab-body .tab {
	padding-left: 8px;
}

.theme-dark .loot-sheet-npc:not(.chat-card, .create-document) :is(input, select):not([type="range"]):disabled, 
.loot-sheet-npc.dnd5e-theme-dark :is(input, select):not([type="range"]):disabled {
	background-color: inherit;
}