

.merchant-sheet-npc .gm-section {
	/* height: 48px; */
	color: #000;
	/* font-weight: 700; */
	font-size: 20px;
	margin-top: 0.5rem;
	text-align: center;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
	font-size: 20px;
	color: #4b4a44;
	font-size: 18px;
}

.merchant-sheet-npc .gm-header {
	margin-top: 0.5rem;
}

.merchant-sheet-npc .inventory-filters .item-controls {
	flex: 0 0 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: flex-end;
}

.merchant-sheet-npc .inventory-filters .item-controls a, .merchant-sheet-npc.sheet .items-list .item-controls a {
	flex: 0 0 22px;
    font-size: 12px;
    text-align: center;
    color: #7a7971;
}

.merchant-sheet-npc .gm-settings .permissions-list,
.merchant-sheet-npc .gm-settings .coin-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.merchant-sheet-npc .gm-settings .sheet-types,
.merchant-sheet-npc .gm-settings .merchant-settings {
	margin-right: 10px;
}

.merchant-sheet-npc .gm-settings .merchant-settings .flexrow {
	border-bottom: 1px solid #CCC;
	margin-bottom: 5px;
}

.merchant-sheet-npc .gm-settings .merchant-settings .flexrow h4 {
	margin: 2px 0 0 0;
}

.merchant-sheet-npc .gm-settings .merchant-settings {
	margin-left: 24px;
}

.merchant-sheet-npc .gm-settings .coins-list {
	padding-left: 24px;
}

.merchant-sheet-npc .gm-settings h4.sheet-name {
	flex: 1;
	margin: 0 0 0 24px;
	line-height: 22px;
}

.merchant-sheet-npc .gm-settings .permission,
.merchant-sheet-npc .gm-settings .denomination {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	height: 21px;
	line-height: 21px;
	border-bottom: 1px solid #CCC;
	font-size: 13px;
}

.merchant-sheet-npc .gm-settings .sheet-type-info,
.merchant-sheet-npc .gm-settings .permission-info,
.merchant-sheet-npc .gm-settings .merchant-settings-info,
.itemsonce-info  {
  color: #7a7971;
  margin: 6px 6px 6px 24px;
  display: none;
}

.merchant-sheet-npc .gm-settings .help {
	color: #7a7971;
	font-size: 13px;
}

.merchant-sheet-npc .gm-settings .permission,
.merchant-sheet-npc .gm-settings .denomination>* {
	flex: 1;
  flex-wrap: inherit;
  height: auto;
}

.merchant-sheet-npc .gm-settings .permission .permission-name {
	margin: 0;
}

.merchant-sheet-npc .gm-settings .permission .permission-proficiency {
	text-align: center;
	flex: 0 0 24px;
}

.merchant-sheet-npc .gm-settings .permission .permission-proficiency i.fa-circle {
	font-size: 10px;
}

.merchant-sheet-npc .gm-settings .split-coins {
	width: 95%;
}

.merchant-sheet-npc.sheet .window-content form {
	overflow-y: auto !important;
}

img.sheet-profile {
	border: none;
	max-width: 220px;
	max-height: 220px;
}

.merchant-sheet-npc.sheet.actor .inventory-filters .currency span {
	flex: 0 0 105px;
	white-space: nowrap;
}

.merchant-sheet-npc.sheet.actor .inventory-filters .currency input[type="text"] {
	width: 40px;
}

.currency.inventory span span {
	width: 40px;
  text-align: center;
	margin-left: 8px;
	white-space: nowrap;
}

.merchant-sheet-npc.sheet.actor .inventory-filters .currency label {
	white-space: nowrap;
}

section.sheet-sidebar.sidebar {
	flex: 0 0 250px;
	border-bottom: 2px groove #eeede0;
	border-right: 2px groove #eeede0;
}

.sheet-profile-img {
	text-align: center;
}

section.sheet-content.content {
	border-bottom: 2px groove #eeede0;
}

.merchant-sheet-npc.sheet.actor .inventory-list .item .item-price,
.merchant-sheet-npc.sheet.actor .inventory-list .item .item-quantity,
.merchant-sheet-npc.sheet.actor .inventory-list .item .item-weight {
	flex: 0 0 75px;
	color: #666;
	font-size: 10px;
}

.merchant-sheet-npc.sheet.actor .inventory-list .item .item-controls {
	flex: 0 0 100px !important;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	justify-content: flex-end;
}

.merchant-sheet-npc.sheet .sheet-header .charbutton {
	flex: 0 0 200px;
	margin: auto;
	text-align: right;
}

button.price-modifier {
	width: auto;
	padding: 1px 10px;
	margin-right: 5px;
}
button.stack-modifier {
	width: auto;
	padding: 1px 10px;
	margin-right: 5px;
}

.merchant-sheet-npc.sheet .sheet-navigation {
	margin-bottom: 15px;
}

input#price-modifier-percent-display {
	background: none;
	border: 1px solid transparent;
	width: 50px;
}
input#stack-modifier-percent-display {
	background: none;
	border: 1px solid transparent;
	width: 50px;
}

input#quantity {
	background: none;
	border: 1px solid #111;
}

input#price-modifier-percent-display:hover,
input#price-modifier-percent-display:focus,
input#stack-modifier-percent-display:hover,
input#stack-modifier-percent-display:focus,
input#quantity:hover,
input#quantity:focus {
	border: 1px solid #111;
	box-shadow: 0 0 8px red;
}

.merchant-sheet-npc .sheet-profile-img {
	padding: 10px;
}

.merchant-sheet-npc.sheet.actor .editor {
	height: 600px;
}

.merchant-sheet-npc.sheet .sheet-header h1 input {
	margin: 0px;
}

.merchant-sheet-npc.sheet.actor .inventory-list .inventory-header .item-controls a.item-create {
    flex: initial;
}

.merchant-sheet-npc li.item.flexrow.inventory-header {
    padding: 8px 8px 0 0;
}
