

<form class="{{cssClass}}" autocomplete="off">

    <!-- <section class="sheet-upper"> -->
    
        <!-- HEADER -->
        <header class="sheet-header flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="Character Name"/>
            </h1>
            {{#if isGM}}
                <div class="charbutton">
                    <button type="button" class="price-modifier" type="price-modifier" name="price-modifier" value=""><i class="fa fa-balance-scale"></i> Price Modifier</button>
                </div>
            {{/if}}
        </header>

    <section class="sheet-lower flexrow">

		<!-- SIDEBAR -->
        <section class="sheet-sidebar sidebar">
			<div class="sheet-profile-img">
				<img class="sheet-profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>
			</div>

            {{#if isGM}}
            
            <h3 class="gm-section">GM Settings</h3>

            <!-- GM SETTINGS -->
            <div class="gm-settings" data-group="sidebar" data-tab="gm-settings">
                <h3 class="gm-header"><a class="permission-proficiency-bulk" title="{{actor.flags.merchant.playersPermissionDescription}}">{{{actor.flags.merchant.playersPermissionIcon}}}</a> Permissions <i class="fas fa-info-circle help" onclick="$('.permission-info').toggle();"></i></h3>
                <input type="hidden" name="actor.flags.merchant.playersPermission" value="{{actor.flags.merchant.playersPermission}}" data-dtype="Number"/>
                <div class="permission-info">Ensure players have selected a character via the Player Configuration (right-click player in bottom left) menu.</div>
                <ol class="permissions-list">
                    {{#each actor.flags.merchant.players as |player p|}}
                        <li class="permission" data-skill="{{p}}">
                            <input type="hidden" name="{{player.playerId}}" value="{{player.merchantPermission}}" data-dtype="Number" actor="{{player.actorId}}"/>
                            <a class="permission-proficiency" title="{{player.merchantPermissionDescription}}">{{{player.icon}}}</a>
                            <h4 class="permission-name">{{player.actor}} ({{player.name}})</h4>
                        </li>
                    {{/each}}
                </ol>

                    <h3 class="gm-header"><i class="fas fa-balance-scale"></i> Merchant Settings <i class="fas fa-info-circle help" onclick="$('.merchant-settings-info').toggle();"></i></h3>
                    <div class="merchant-settings-info">Replace this merchant's inventory with a random number of items from a Rollable Table. Specify the Rollable Table's name, along with how a formula for how many different items to add (Shop Qty Formula), and a formula for determining how many of each item to add (Item Qty Formula).</div>
                    <div class="merchant-settings">
                        <div class="flexrow">
                            <div class="flexcol"><h4>Rollable Table: </h4></div>
                            <div class="flexcol">
                                <select class="sheet-rolltable" name="data.flags.merchantsheetnpc.rolltable">
                                    
                                    {{#select data.flags.merchantsheetnpc.rolltable}}
                                    <option value=""></option>
                                        {{#each rolltables as |table i|}}
                                            <option value="{{table.name}}">{{table.name}}</option>
                                        {{/each}}
                                    {{/select}}
                                </select>
                            </div>
                        </div>
                        <div class="flexrow">
                            <div class="flexcol"><h4>Shop Qty Formula: </h4></div>
                            <div class="flexcol"><input name="data.flags.merchantsheetnpc.shopQty" type="text" data-dtype="String" placeholder="e.g. 1d20" value="{{data.flags.merchantsheetnpc.shopQty}}"/></div>
                        </div>
                        <div class="flexrow">
                            <div class="flexcol"><h4>Item Qty Formula: </h4></div>
                            <div class="flexcol"><input name="data.flags.merchantsheetnpc.itemQty" type="text" data-dtype="String" placeholder="e.g. 1d4" value="{{data.flags.merchantsheetnpc.itemQty}}"/></div>
                        </div>
						<div class="flexrow">
                            <div class="flexcol"><h4>Limit Qty: </h4></div>
                            <div class="flexcol"><input name="data.flags.merchantsheetnpc.itemQtyLimit" type="text" data-dtype="String" placeholder="e.g. 10" value="{{data.flags.merchantsheetnpc.itemQtyLimit}}"/></div>
                        </div>
						<div class="flexrow">
                            <div class="flexcol"><h4>Clear Inventory: </h4></div>
                            <div class="flexcol"><input name="data.flags.merchantsheetnpc.clearInventory" type="checkbox" data-dtype="boolean" {{#if data.flags.merchantsheetnpc.clearInventory}}checked{{/if}}/></div>
                        </div>
                        <div class="flexrow">
                            <div class="flexcol"><h4>Items Only Once:</h4></div>
                            <div class="flexcol"><input name="data.flags.merchantsheetnpc.itemOnlyOnce" type="checkbox" data-dtype="boolean" {{#if data.flags.merchantsheetnpc.itemOnlyOnce}}checked{{/if}}/></div>
                        </div>
                    </div>
                    <button type="button" class="update-inventory" type="update-inventory" name="update-inventory" value="1"><i class="fas fa-balance-scale"></i> Update Shop Inventory</button>
            </div>

            {{/if}}

        </section>
		
        <!-- BODY -->
        <section class="sheet-content content">

            {{#each items as |item iid| }}
            <li class="item flexrow" data-item-id="{{item._id}}">
                <div class="item-name flexrow rollable">
                    <div class="item-image" style="background-image: url({{item.img}})"></div>
                    <h4>
                        {{item.name}}
                    </h4>
                </div>
                <div class="item-quantity">
                    <i class="fas fa-box" title="Quantity"></i> {{item.data.quantity}}
                </div>
                <div class="item-weight">
                    <i class="fas fa-weight-hanging" title="Weight"></i> {{lootsheetweight item.data.weight}}{{lootsheetstackweight item.data.weight item.data.quantity}}
                </div>
                <div class="item-price">
                    <i class="fas fa-coins" title="Price"></i> {{ merchantsheetprice item.data.price ../priceModifier }}
                </div>

                <div class="item-controls">
                    <a class="item-control item-buyall" title="Buy Stack"><i class="fas fa-coins"></i></a>
                    <a class="item-control item-buy" title="Buy Item"><i class="fas fa-dollar-sign"></i></a>
                </div>
            </li>
            {{/each}}

        </section>

        
    </section>
</form>
