<!--
/**
 * Based on https://github.com/Moerill/mess
 */
-->
<style>
    .welcome-screen a[href] {
        color: #4a52ca;
    }
    .welcome-screen .window-content {
        background: var(--background);
        color: var(--primary-color)
    }

    .welcome-screen .window-content > * {
        flex: 0;
    }

    .welcome-screen .window-content p {
        padding-left: 1em;
    }

    .welcome-screen .window-content .hideinfo {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 1em;
        background: var(--header-background);
        border: 1px solid var(--header-border);
        padding: 0.5em;
    }
</style>

<h1>LootsheetNPC5e</h1>
<p>
    The module was installed or updated. See the Patchnodes below for more information.
</p>

<h3>Bugs or suggestions 🐛🔧 </h3>
<p>
    If you encounter any bugs or if you have feature ideas. Feel free to contact us.
<ul>
    <li>Via the issues section on the <a href="https://github.com/ultrakorne/better-rolltables"><i
                class="fab fa-github"></i>
            github repository</a>.</li>
    <li>On the FoundryVTT Discord <a href="https://discord.gg/foundryvtt"><i class="fas fa-dice-d20"></i><i
                class="fab fa-discord"></i></a>.</li>
</ul>
</p>
<h3>Authors / Maintainers / Contributers</h3>
<table>
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Contacts
            </th>
            <th>
                TipJar
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>ChalkOne</td>
            <td>
                <a href="https://discordapp.com/users/ChalkOne#0156" title="ChalkOne">
                    <i class="fab fa-discord"></i>
                </a>
                <a href="https://github.com/jopeek"><i class="fab fa-github"></i></a>
                <a href="https://www.janolepeek.com/#home" title="Jan Ole Peek">
                    <i class="fab fa-globe"></i>
                </a>
            </td>
            <td>

            </td>
        </tr>
        <tr>
            <td>JackPrince</td>
            <td>
                <a href="https://discordapp.com/users/JackPrince#0494" title="Paypal TipJar: JackPrince / Daniel Böttner"><i
                        class="fab fa-discord"></i></a>
                <a href="https://github.com/DanielBoettner"><i class="fab fa-github"></i></a>
            </td>
            <td>
                <a href="https://www.paypal.com/paypalme/JackPrince title=" Paypal TipJar: JackPrince">
                    <i class="fab fa-paypal"></i>
                </a>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">
                <small>If you are a contributer and wish to appear in this list. Please contact us.</small>
            </td>
        </tr>
    </tfoot>
</table>
<div class="hideinfo">
    <label for="welcome-screen-show-again">Don't show this screen again until next update.</label> <input type="checkbox" class='show-again' id="welcome-screen-show-again" {{checked isChecked}} />
</div>
<h1>Patchnotes</h1>
<h2 id="v189">v1.8.92 <small>(& v1.8.91)</small></h2>
<ul>
    <li>Fixed a bug that made the module unusable when the spellCompendium was not found</li>
    <li>Added general <a href="https://foundryvtt.com/packages/pf1">Pathfinder 1e</a> support.
        Special thanks to <a href="https://github.com/mkahvi">Mana</a> for the help.</li>
</ul>
<h2 id="v189">v1.8.9</h2>
<small>Several Updates by JackPrince [ <a href="https://discordapp.com/users/JackPrince#0494" title="JackPrince"><i
            class="fab fa-discord"></i></a> <a href="https://github.com/DanielBoettner"><i
            class="fab fa-github"></i></a> ]</small>
<ul>
    <li>Interface updates</li>
    <li>simple tags one tables</li>
    <li>added an <a href="https://github.com/Ultrakorne/better-rolltables/blob/master/scripts/API.js">API</a></li>
    <li>allow a betterRoll with options, this allows for example to roll with BetterRolltables from a Lootsheet
        (using the formulas from the lootsheet)</li>
</ul>
<h2 id="v186">v1.8.6</h2>
<ul>
    <li>Fixed a bug in <em>createTableFromCompendium()</em></li>
</ul>
<h2 id="v184">v1.8.4</h2>
<ul>
    <li>various fixes</li>
    <li>Added a method that allows populating tokens (e.g. via macro)</li>
</ul>

<h2 id="v183">v1.8.3</h2>
<ul>
    <li>add option to disable message when generating loot to actor (disabled by default)</li>
    <li>fix null JournalEntry error when rolling story table</li>
</ul>

<h2 id="v182">v1.8.2</h2>
<ul>
    <li>Various bug fixes</li>
</ul>

<h2 id="v181">v1.8.1</h2>
<ul>
    <li>Various bug fixes</li>
</ul>

<h2 id="v180">v1.8.0</h2>
<ul>
    <p>Another update from Daimakaicho for this update</p>
    <li>add new currency sharing feature (to be activated in the options)</li>
    <img src="https://user-images.githubusercontent.com/1334405/127393996-4be06643-dbcc-47d7-8b43-b996b19a2398.gif" />
    <li>remove all .mjs extension to help with reverse proxy</li>
    <li>fix images not loaded in compendiums when better-rolltables is enabled</li>
    <li>fix text results handled as items when using new tables mode</li>
    <li>fix broken result icon when result is a macro</li>
</ul>

<h2 id="v170">v1.7.0</h2>
<ul>
    <p>Thanks to Daimakaicho for this entire update! see <a
            href="https://github.com/ultrakorne/better-rolltables/releases/tag/v1.7.0">patch notes</a> for full
        description</p>
    <li>Various QOL improvements (see the module option to enable them and patch notes for screenshots)</li>
    <li>A new option has been added to stick the header of rolltable to top</li>
    <li>A button is now append to linked rolltables in journal entries to roll table in one click!</li>
    <li>A "roll table" action has been add to rolltables context menu to allow rolling table without opening it</li>
    <li>A "Roll compendium" has been added on compendiums context menu to allow rolling on compendium without
        creating a
        specific rolltable</li>
</ul>

<h2 id="v1614">v1.6.14</h2>
<ul>
    <p>Thanks to Daimakaicho for this entire update!</p>
    <li>Fixed create table from compendium</li>
    <li>improved roll table performance on big tables with multiple draws.</li>
    <li>random spell scroll generation improvements</li>
</ul>

<h2 id="v1613">v1.6.13</h2>
<ul>
    <p>Thank to JackPrince and Daimakaicho for the update</p>
    <li>French Translation</li>
    <li>Story text is now selectable</li>
    <li>Various Bugfixes</li>
</ul>
<h2 id="v1612">v1.6.12</h2>
<ul>
    <li>Another update from JackPrince#0494 (<a href="https://github.com/DanielBoettner">github.com/DanielBoettner</a>)
        fixing generation of spellscrolls.</li>
    <li>Add link and description of spell to the spell scrolls</li>
    <li>Updated the method to generate tables from a compendium</li>
    <li>Added an entry to the contextmenu of a compendium to start generation</li>
    <li>Fixes inline rolls like Lorem ipsum got [[3d6]] of dolor sit amet</li>
    <li>Adds German translation</li>
</ul>
<h2 id="v1611">v1.6.11</h2>
<ul>
    <li>Thanks to JackPrince#0494 (<a href="https://github.com/DanielBoettner">github.com/DanielBoettner</a>) for
        this
        update, he fixed the broken tables loosing the table type after clicking update. <b>Note:</b> this fix
        requires
        foundry 0.8.8 to work</li>
    <li>code cleaning and api updates in preparation for foundry 0.9</li>
</ul>
<h2 id="v1610">v1.6.10</h2>
<ul>
    <li>Fixed Item not stacking correctly when rolling a loot table on an actor</li>
    <li>Fixed Currency not working correctly when rolling a loot table on an actor</li>
    <li>Known issue: after clicking update the table type resets to default. As a workaround please modify the
        table,
        click update and after reset the type to the wanted one</li>
    <li>Please report bugs on github with screenshots showing the table and the related issue</li>
</ul>
<h2 id="v169">v1.6.9</h2>
<ul>
    <li>Fixed Story Tables not working in foundry 0.8.x</li>
    <li>Known issue: after clicking update the table type resets to default. As a workaround please modify the
        table,
        click update and after reset the type to the wanted one</li>
    <li>Please report bugs on github with screenshots showing the table and the related issue</li>
</ul>
<h2 id="v168">v1.6.8</h2>
<ul>
    <li>Fixed Formula field for each table result not showing</li>
    <li>Known issue: after clicking update the table type resets to default. As a workaround please modify the
        table,
        click update and after reset the type to the wanted one</li>
    <li>Please report bugs on github with screenshots showing the table and the related issue</li>
</ul>
<h2 id="v167">v1.6.7</h2>
<ul>
    <li>Fixed inner roll tables rolls broken in 0.8</li>
    <li>Updated module to work with foundry 0.8.x</li>
    <li>Merged pull request from Fotamecus to better support systems like PF1E</li>
</ul>
<h2 id="v164">v1.6.4</h2>
<ul>
    <li>Exposed API to get story reults via macro 'game.betterTables.getStoryResults(table)' (thanks jsabol)</li>
    <li>Added macro only function to add generated loot to selected token with
        'game.betterTables.addLootToSelectedToken(table)' (Thanks VaderDojo for the code) </li>
</ul>
<h2 id="v163">v1.6.3</h2>
<ul>
    <li>Module updated for foundry 0.7.5</li>
    <li>fixed paypal link (that's why i was getting no tip right!?</li>
</ul>
<h2 id="v151">v1.5.1</h2>
<ul>
    <li>Faster performance when parsing loot tables with a lot of text entries</li>
    <li>Fixed a bug where text items where not created correctly</li>
</ul>
<h2 id="v150">v1.5.0</h2>
<ul>
    <li>Loot tables now also have the formula field for every result similar to (not for text result)</li>
    <li>Updated Loot table examples (5e) showcasing simpler table configuration</li>
    <li>New documentation page for <a href="https://github.com/ultrakorne/better-rolltables/wiki/Loot-Tables">loot
            tables</a></li>
    <li>Spanish translation (thanks to HonzoNebro)</li>
</ul>