
dist/
node_modules/
docs/
wiki/
.nyc_output/
coverage/
.vscode/
images/icon.png
module-releases_template.txt
workspace.code-workspace
git_tags.txt
template/debug.log
tsconfig.json
*.Identifier
.DS_Store
