<header class="sheet-header">
    <div class="sheet-profile-img" >
        <img  src="{{actor.img}}" title="{{actor.name}}" data-edit="img">
    </div>
    <div class="sheet-buttons">
        {{#ifeq lootsheettype "Loot"}}
                {{#if lootAll}}
                    <button type="button" class="loot-all" name="loot-all" value="1" title="Loot all items">
                        <i class="fas fa-gem"></i>
                    </button>
                {{/if}}

                <button type="button" class="split-currency" type="split-coins" name="split-coins" value="1"
                        title="Loot Coins | Share between {{actor.flags.lootsheetnpc5e.observerCount}} in Party">
                    <span class="fa-stack">
                        <i class="fas fa-users fa-stack-2x"></i>
                        <i class="fas fa-hand-holding-usd"></i>
                    </span>
                </button>

                {{#if lootCurrency}}
                    <button type="button" class="loot-currency">
                        <span class="fa-stack">
                            <i class="fas fa-user fa-stack-2x"></i>
                            <i class="fas fa-stack-1x fa-hand-holding-usd"></i>
                        </span>
                    </button>
                {{/if}}
            {{/ifeq}}

            {{#ifeq lootsheettype "Merchant"}}
                {{#if isGM}}
                    <button type="button" class="price-modifier" type="price-modifier" name="price-modifier" value="">
                        <i class="fa fa-balance-scale"></i>
                    </button>
                {{/if}}
            {{/ifeq}}
    </div>

    </div>

    <h1 class="charname">
        <input name="name" type="text" value="{{actor.name}}" placeholder="Character Name" />
    </h1>
</header>