<header class="sheet-header">
    <div class="sheet-profile-img">
        <img class="sheet-profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />
    </div>
    <h1 class="charname">
        <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize " Character Name"}}" />
    </h1>

    {{> "modules/lootsheetnpc5e/templates/partials/header/navigation.hbs"}}
</header>