
<main class="tradegrid">
    <section class="token-inventory">
        {{> "modules/lootsheetnpc5e/templates/partials/trade/inventory.hbs"}}
    </section>
    <section class="info flairbox">
        <div class="flairbox">
            <aside>⬅️ Merchant </aside>
            <aside>Playername➡️</aside>
        </div>

        <!-- a box with a dropzone to accept items -->
    </section>
    <div class="stage" dropzone="true">

    </div>
    <section class="player-inventory">
        {{> "modules/lootsheetnpc5e/templates/partials/trade/inventory.hbs" inventoryData=player.items}}
    </section>
    <footer>
        actions
    </footer>
</main>