.app.lsnpc {
    .gm-settings {
		.permissiongrid {
			display: grid;
			grid-auto-columns: 0.2fr 0.8fr;
			grid-template-areas: "BULK INDIVIDUAL" "FILTER FILTER";
			gap: 0.2em;
			.filter {
				grid-area: FILTER;
			}
			.bulk {
				grid-area: BULK;
			}
			.individual {
				grid-area: INDIVIDUAL;
			}

			ul {
				border-radius: 0.4em;
			}
		}
        .permissions-options,
		.permissions-list {
			align-items: flex-start;
			background: var(--header-background);
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			list-style: none;
			gap: 0.5em;
			padding: 0.2em;
			margin: 0;
			overflow-x: auto;
			max-width: 301px;

			a {
				background: var(--faint-color);
				display: block;
				min-height: 1.6em;
				min-width: 1.6em;
				border-radius: 0.5em;

				&:hover {
					border-color: var(--secondary-color);
					text-shadow: 0 0 8px var(--secondary-color);
				}

				i {
					line-height: 1.6em;
					text-align: center;
					width: 100%;
				}
			}

			.none-border-permission {
				color: var(--primary-accent);
				border-color: var(--primary-accent);
			}
			.observer-border-permission {
				color: var(--prepared);
				border-color: var(--prepared);
			}
			.owner-border-permission {
				color: var(--checkbox-checked);
				border-color: var(--checkbox-checked);
			}

			.permission {
				flex: 0 0 var(--icon-size);
				position: relative;

				.permission-proficiency {
					width: var(--icon-size);
					height: var(--icon-size);
					background: var(--faint-color);
					display: block;

					> * {
						position: absolute;
						display: block;
						width: var(--icon-size);
						height: var(--icon-size);
					}

					img {
						z-index: 1;
					}

					i {
						line-height: var(--icon-size);
    						text-align: center;
						z-index: 2;
                        font-weight: bolder;
                        font-size: 1.8em;
						color: var(--icon-hover);
						text-shadow: 0 0 var(--icon-background);
					}
				}
			}
		}
    }
}
