<article class="tab" data-tab="loot" data-group="ws-sections">
    <header>Feature set: Sheet / Loot</header>
    <main>
        <ul>
            <li>It should now be possible to loot with "player" and GM being in different scenes.
                <small>Good by "noGMactive"</small>
            </li>
            <li>Scenes and Actors will now be converted to loot items during inventory updates/seeding (not ignored)
                when
                rolled on in a roltlable.</li>
            <li>experimental: A setting allows to force a refresh of the sheet on the player side. After the sheet was
                changed. Feedback if it helps with sync issues, or if it doesn't, are appreciated.</li>
            <li>Better currency display</li>
            <li>storing items in a sheet/actor</li>
        </ul>
    </main>
</article>