<article class="tab" data-tab="merchant" data-group="ws-sections">
    <header>
        <h1> Featureset: Merchant </h1>
    </header>
    <main>
        <ul>
            <li>
                It should now be possible to buy with "player" and GM being in different scenes.
                <small>Good by "noGMactive"</small>
            </li>
            <li>Trade Tab allows buying <em>and selling</em> with a sheet.</li>
        </ul>
    </main>
</article>