<article class="tab" data-tab="misc" data-group="ws-sections">
    <h1>LootsheetNPC5e <em><small>v4.3.5.10</small></em></h1>
    <h2>Thank you for using 📜LootsheetNPC5e! 🤗</h2>
    <p>The module was was installed or updated.</p>
    <div class="hideinfo">
        <label for="welcome-screen-show-again">Don't show this screen again until next update.</label>
        <input type="checkbox" class='show-again' id="welcome-screen-show-again" {{checked isChecked}} />
    </div>
    <hr />
    <p>
        If you wish to help to improve the module. Please take a look at the project repository.
        Help with translation, bug reports, feature requests, etc. are welcome.
    </p>
    <ul>
        <li>Help create immersive images or sheet styles!</li>
        <li>Help with creating NPCs (a rubble of dirt, a dirty business man, a dead body with a dirty secret)</li>
        <li>Help creating rolltable compendium packs with suitable loot for all needs</li>
    </ul>
    <h3>Bugs or suggestions 🐛🔧 </h3>
    <p>
        If you encounter any bugs or if you have feature ideas. Feel free to contact us.
    <ul>
        <li>Via the <a href="https://github.com/jopeek/fvtt-loot-sheet-npc-5e/issues">issues</a> section on the
            <a href="https://github.com/jopeek/fvtt-loot-sheet-npc-5e">
                <iclass="fab fa-github"></i> github repository
            </a>.
        </li>
        <li>On the FoundryVTT Discord <a href="https://discord.gg/foundryvtt"><i class="fas fa-dice-d20"></i><i
                    class="fab fa-discord"></i></a>.</li>
    </ul>
    </p>
    <h3>Special Thanks</h3>
    <p>
        To all the community developers that helped with questions and suggestions.
        Thanks to all the people that helped with testing and bug reports.
        And thanks to all the people that helped with the translation.
    </p>
    <h3>Authors / Maintainers / Contributers</h3>
    <table>
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Contacts
                </th>
                <th>
                    TipJar
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ChalkOne</td>
                <td>
                    <a href="https://discordapp.com/users/ChalkOne#0156" title="Discord: ChalkOne">
                        <i class="fab fa-discord"></i>
                    </a>
                    <a href="https://github.com/jopeek"><i class="fab fa-github"></i></a>
                    <a href="https://www.janolepeek.com/#home" title="Jan Ole Peek">
                        <i class="fab fa-globe"></i>
                    </a>
                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td>JackPrince</td>
                <td>
                    <a href="https://discordapp.com/users/JackPrince#0494"
                        title="Discord: JackPrince / Daniel Böttner"><i class="fab fa-discord"></i></a>
                    <a href="https://github.com/DanielBoettner"><i class="fab fa-github"></i></a>
                </td>
                <td>
                    <a href="https://www.paypal.com/paypalme/JackPrince" title=" Paypal TipJar: JackPrince">
                        <i class="fab fa-paypal"></i>
                    </a>
                    <a href="https://www.patreon.com/JackPrince" title="Patreon TipJar: JackPrince">
                        <i class="fab fa-patreon"></i>
                    </a>
                    <a href="https://ko-fi.com/JackPrince" title="Ko-fi TipJar: JackPrince">
                        <i class="fab fa-kofi"></i>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">
                    <small>If you are a contributer and wish to appear in this list. Please contact us.</small>
                </td>
            </tr>
        </tfoot>
    </table>
</article>