{{#each data as |array group|}}
    <optgroup label="{{group}}">
    {{#each array}}
        <option value="{{this.uuid}}" data-label="{{this.name}}">{{this.name}}</option>
    {{/each}}
    </optgroup>
{{/each}}