.system-dnd5e, .system-pf2, .system-pf1 {
	.lsnpc {
		--modesto: "Modesto Condensed", "Palatino Linotype", serif;
		--signika: "Signika", sans-serif;
		--primary-font: rgba(0, 0, 0, 0.9);
		--background: #ece9df;
		--faintest-color: rgba(0, 0, 0, 0.05);
		--faint-color: rgba(0, 0, 0, 0.1);
		--light-color: rgba(0, 0, 0, 0.25);
		--primary-color: rgba(0, 0, 0, 0.9);
		--primary-background: rgba(255, 255, 255, 0.3);
		--secondary-color: rgba(0, 0, 0, 0.65);
		--tertiary-color: rgba(0, 0, 0, 0.4);
		--primary-accent: #ff6400;
		--white: #ffffff;
		--faint-white: rgba(255, 255, 255, 0.2);
		--linked-accent: rgba(0, 255, 0, 0.75);
		--unlinked-accent: rgba(255, 0, 0, 0.75);
		--linked-light: rgba(0, 255, 0, 0.4);
		--unlinked-light: rgba(255, 0, 0, 0.4);
		--safe-accent: rgba(0, 150, 100, 0.6);
		--unsafe-accent: rgba(255, 0, 0, 0.6);
		--header-background: rgba(255, 255, 255, 0.2);
		--header-border: rgba(0, 0, 0, 0.25);
		--stat-font: #ece9df;
		--prepareable: #778899;
		--prepared: rgba(50, 205, 50, 0.3);
		--prepared-outline: #32cd32;
		--prepared-accent: #adff2f;
		--always-prepared: rgba(0, 0, 255, 0.15);
		--always-prepared-outline: #4169e1;
		--always-prepared-accent: #00bfff;
		--magic-accent: #ffff00;
		--faint-magic-accent: rgba(255, 255, 0, 0.6);
		--magic-outline: #afff2f;
		--attunement-required: #cd5c5c;
		--icon-background: #ece9df;
		--icon-shadow: rgba(0, 0, 0, 0.4);
		--icon-outline: rgba(0, 0, 0, 0.4);
		--icon-font: rgba(0, 0, 0, 0.4);
		--exhaustion-font: rgba(0, 0, 0, 0.4);
		--icon-hover: rgba(0, 0, 0, 0.9);
		--pc-border: 0px;
		--npc-border: 0px;
		--vehicle-border: 0px;
		--note-background: rgba(0, 0, 0, 0.9);
		--exhaustion-lvl1: #ffe600;
		--exhaustion-lvl2: #ff8200;
		--exhaustion-lvl3: #ff3200;
		--ability-accent: darkslategrey;
		--context-outline: rgba(0, 0, 0, 0.4);
		--context-shadow: rgba(0, 0, 0, 0.65);
		--check-default: url(../images/check-dark-unchecked.svg);
		--check-checked: url(../images/check-dark-checked.svg);
		--checkbox-font: rgba(0, 0, 0, 0.9);
		--checkbox-outline: #969696;
		--checkbox-unchecked: #D8D7D1;
		--checkbox-checked: rgba(0, 255, 0, 0.3);
		--icon-size: 32px;
		--iconwidth: 32px;
		/**
		* Entity rarity colors
		*/
		--rarity-common: rgb(255,255,255);
		--rarity-uncommon: rgb(30,255,0);
		--rarity-rare: rgb(0,112,221);
		--rarity-veryRare: rgb(163,53,238);
		--rarity-legendary: rgb(255,128,0);
		--current-rarity: var(--rarity-common);

		--sheettint: rgba(0, 0, 0, 0.2);
		--avatartint: rgba(0, 0, 0, 0.2);
	}
}

.system-dnd5e, .system-pf2, .system-pf1 {
	.tidy5eDark, .lsnpc-darkMode {
		--primary-font: rgba(255, 255, 255, 0.8);
		--primary-background: rgba(0, 0, 0, 0.3);
		--background: #1e1e1e;
		--white: #000000;
		--primary-color: rgba(255, 255, 255, 0.8);
		--secondary-color: rgba(255, 255, 255, 0.65);
		--tertiary-color: rgba(255, 255, 255, 0.4);
		--light-color: rgba(255, 255, 255, 0.25);
		--faint-color: rgba(255, 255, 255, 0.1);
		--faintest-color: rgba(255, 255, 255, 0.05);
		--ability-accent: darkslategrey;
		--header-background: rgba(255, 255, 255, 0.05);
		--header-border: rgba(255, 255, 255, 0.25);
		--primary-accent: #ff6400;
		--prepared: rgba(0, 250, 180, 0.3);
		--always-prepared: rgba(0, 100, 255, 0.3);
		--icon-background: #1e1e1e;
		--icon-shadow: rgba(0, 0, 0, 0.4);
		--icon-outline: rgba(0, 0, 0, 0.4);
		--icon-font: rgba(255, 255, 255, 0.4);
		--icon-hover: rgba(255, 255, 255, 0.8);
		--warning-accent: rgba(255, 30, 0, 0.65);
		--check-default: url(../images/check-dark-unchecked.svg);
		--check-checked: url(../images/check-light-checked.svg);
		--checkbox-font: rgba(255, 255, 255, 0.8);
		--checkbox-outline: #323232;
		--checkbox-unchecked: #4b4b4b;
		--checkbox-checked: rgba(0, 255, 0, 0.5);


	}
}