.app.actor.loot-sheet-npc {
    .window-content {
        .tab.trade{
            overflow-y: unset;
        }

        .tradegrid {
            display: grid;
            grid-template-areas:
                "TOKENINVENTORY TINFO PLAYERINVENTORY"
                "TOKENINVENTORY STAGE PLAYERINVENTORY"
                "TOKENINVENTORY PINFO PLAYERINVENTORY";

            grid-template-columns: 1fr 200px 1fr;
            height: 100%;
            width: 100%;

            margin-top: 0.5em;

            .inventory-list {
                display: grid;
                grid-template-columns: repeat(auto-fill, var(--iconwidth));
                grid-template-rows: repeat(auto-fill, var(--iconwidth));
                background: var(--header-background);
                gap: 0.4em;
                padding-top: 0.5em;

                .item {
                    cursor: pointer;
                    height: var(--iconwidth);
                    width: var(--iconwidth);
                    background-size: contain;
                }
            }

            .inventory-condensed {
                --iconwidth: 16px;
            }

            .token-inventory {
                grid-area: TOKENINVENTORY;
                background: var(--avatartint);
                background: var(--header-background);
                margin-top: 1.2em;
                margin-bottom: 1.2em;
            }

            .player-inventory {
                grid-area: PLAYERINVENTORY;
                background: var(--header-background);
                margin-top: 1.2em;
                margin-bottom: 1.2em;
            }
            .flairbox {
                padding: 0.5em;

            }
            .token-info {
                grid-area: TINFO;
            }
            .player-info {
                grid-area: PINFO;
            }

            .stage {
                background: unset;
                grid-area: STAGE;
                display: grid;
                grid-auto-rows: auto;

                background: linear-gradient(90deg, var(--avatartint) 29%, transparent), linear-gradient(-90deg, var(--sheettint) 22%, transparent);

                main {
                    background: var(--header-background);
                    grid-area: unset;

                    &[data-group-target="sell"]{
                        background: linear-gradient(-90deg, var(--header-background) 29%, transparent);
                    }
                    &[data-group-target="buy"]{
                        background: linear-gradient(90deg, var(--header-background) 29%, transparent);
                    }
                }
            }
            .item {
                .rarityMixin();

                &[data-item-quantity]:before {
                    content: attr(data-item-quantity);
                    display: block;
                    font-size: 0.9em;
                    position: absolute;
                    color: #fff;
                    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
                    margin-left: calc(var(--iconwidth) / 2 + 2px);
                }
            }
        }
    }
}