.system-dnd5e {
  --modesto: "Modesto Condensed", "Palatino Linotype", serif;
  --signika: "Signika", sans-serif;
  --primary-font: rgba(0, 0, 0, 0.9);
  --background: #ece9df;
  --faintest-color: rgba(0, 0, 0, 0.05);
  --faint-color: rgba(0, 0, 0, 0.1);
  --light-color: rgba(0, 0, 0, 0.25);
  --primary-color: rgba(0, 0, 0, 0.9);
  --secondary-color: rgba(0, 0, 0, 0.65);
  --tertiary-color: rgba(0, 0, 0, 0.4);
  --primary-accent: #ff6400;
  --white: #ffffff;
  --faint-white: rgba(255, 255, 255, 0.2);
  --linked-accent: rgba(0, 255, 0, 0.75);
  --unlinked-accent: rgba(255, 0, 0, 0.75);
  --linked-light: rgba(0, 255, 0, 0.4);
  --unlinked-light: rgba(255, 0, 0, 0.4);
  --safe-accent: rgba(0, 150, 100, 0.6);
  --unsafe-accent: rgba(255, 0, 0, 0.6);
  --header-background: rgba(255, 255, 255, 0.2);
  --header-border: rgba(0, 0, 0, 0.25);
  --stat-font: #ece9df;
  --prepareable: #778899;
  --prepared: rgba(50, 205, 50, 0.3);
  --prepared-outline: #32cd32;
  --prepared-accent: #adff2f;
  --always-prepared: rgba(0, 0, 255, 0.15);
  --always-prepared-outline: #4169e1;
  --always-prepared-accent: #00bfff;
  --magic-accent: #ffff00;
  --faint-magic-accent: rgba(255, 255, 0, 0.6);
  --magic-outline: #afff2f;
  --attunement-required: #cd5c5c;
  --icon-background: #ece9df;
  --icon-shadow: rgba(0, 0, 0, 0.4);
  --icon-outline: rgba(0, 0, 0, 0.4);
  --icon-font: rgba(0, 0, 0, 0.4);
  --exhaustion-font: rgba(0, 0, 0, 0.4);
  --icon-hover: rgba(0, 0, 0, 0.9);
  --pc-border: 0px;
  --npc-border: 0px;
  --vehicle-border: 0px;
  --note-background: rgba(0, 0, 0, 0.9);
  --exhaustion-lvl1: #ffe600;
  --exhaustion-lvl2: #ff8200;
  --exhaustion-lvl3: #ff3200;
  --ability-accent: darkslategrey;
  --context-outline: rgba(0, 0, 0, 0.4);
  --context-shadow: rgba(0, 0, 0, 0.65);
  --check-default: url(../images/check-dark-unchecked.svg);
  --check-checked: url(../images/check-dark-checked.svg);
  --checkbox-font: rgba(0, 0, 0, 0.9);
  --checkbox-outline: #969696;
  --checkbox-unchecked: #D8D7D1;
  --checkbox-checked: rgba(0, 255, 0, 0.3);
}
.system-dnd5e.tidy5eDark {
  --primary-font: rgba(255, 255, 255, 0.8);
  --background: #1e1e1e;
  --white: #000000;
  --primary-color: rgba(255, 255, 255, 0.8);
  --secondary-color: rgba(255, 255, 255, 0.65);
  --tertiary-color: rgba(255, 255, 255, 0.4);
  --light-color: rgba(255, 255, 255, 0.25);
  --faint-color: rgba(255, 255, 255, 0.1);
  --faintest-color: rgba(255, 255, 255, 0.05);
  --ability-accent: darkslategrey;
  --header-background: rgba(255, 255, 255, 0.05);
  --header-border: rgba(255, 255, 255, 0.25);
  --primary-accent: #ff6400;
  --prepared: rgba(0, 250, 180, 0.3);
  --always-prepared: rgba(0, 100, 255, 0.3);
  --icon-background: #1e1e1e;
  --icon-shadow: rgba(0, 0, 0, 0.4);
  --icon-outline: rgba(0, 0, 0, 0.4);
  --icon-font: rgba(255, 255, 255, 0.4);
  --icon-hover: rgba(255, 255, 255, 0.8);
  --warning-accent: rgba(255, 30, 0, 0.65);
  --check-default: url(../images/check-dark-unchecked.svg);
  --check-checked: url(../images/check-light-checked.svg);
  --checkbox-font: rgba(255, 255, 255, 0.8);
  --checkbox-outline: #323232;
  --checkbox-unchecked: #4b4b4b;
  --checkbox-checked: rgba(0, 255, 0, 0.5);
}
.app.actor.loot-sheet-npc .window-content {
  color: var(--primary-font);
  padding: 0;
  display: flex;
  align-items: center;
  background: var(--faintest-color);
}
.app.actor.loot-sheet-npc .window-content .hidden {
  display: none;
}
.app.actor.loot-sheet-npc .window-content .collapser {
  position: relative;
  float: left;
  flex: none;
  border: 1px solid var(--faint-white);
  height: fit-content;
  padding: 0.3em;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  border-left: none;
  cursor: pointer;
}
.app.actor.loot-sheet-npc form {
  overflow-y: auto !important;
  background: var(--background);
}
.app.actor.loot-sheet-npc form select {
  color: var(--primary-font);
}
.app.actor.loot-sheet-npc form button {
  color: var(--primary-font);
}
.app.actor.loot-sheet-npc header.sheet-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 120px 30px;
  gap: 0px 0px;
  grid-template-areas: "Portrait Name Name Actions" "Portrait Navigation Navigation Navigation";
  background: var(--header-background);
  font-family: var(--modesto);
  border-bottom: 0;
}
.app.actor.loot-sheet-npc header.sheet-header > * {
  flex: none;
}
.app.actor.loot-sheet-npc header.sheet-header .sheet-profile-img {
  grid-area: Portrait;
  align-self: center;
  justify-self: center;
  background-color: var(--background);
  border: 1px solid var(--icon-outline);
  border-radius: 50%;
  max-height: 12vh;
  max-width: 12vh;
  overflow: hidden;
}
.app.actor.loot-sheet-npc header.sheet-header .sheet-profile-img img.sheet-profile {
  background: var(--icon-background);
  border: none;
  box-shadow: 0 0 10px var(--icon-shadow) inset;
  height: initial;
  object-fit: cover;
  object-position: top;
  vertical-align: middle;
  border-radius: 50%;
  flex: none;
  width: 100%;
  height: 100%;
  max-width: 220px;
  max-height: 220px;
}
.app.actor.loot-sheet-npc header.sheet-header .charname {
  grid-area: Name;
}
.app.actor.loot-sheet-npc header.sheet-header .charname input {
  border: none;
  background: none;
}
.app.actor.loot-sheet-npc header.sheet-header .charbutton {
  grid-area: Actions;
  margin: auto;
  text-align: right;
}
.app.actor.loot-sheet-npc header.sheet-header h1 input {
  margin: 0px;
}
.app.actor.loot-sheet-npc nav.sheet-navigation {
  margin-bottom: 0;
}
.app.actor.loot-sheet-npc nav.sheet-navigation .item {
  background: var(--header-background);
  border: 1px solid transparent;
  border-bottom: 1px solid var(--light-color);
  padding: 0 0.5em;
  margin: 0;
}
.app.actor.loot-sheet-npc nav.sheet-navigation .item.active {
  background: transparent;
  border: 1px solid var(--light-color);
  border-bottom-color: transparent;
  font-weight: 700;
  cursor: default;
}
.app.actor.loot-sheet-npc section.sheet-content.content {
  padding: 0 0.8em 0.8em 0;
}
.app.actor.loot-sheet-npc .inventory-filters .currency li {
  border-radius: 0.5em;
  background: var(--faint-color);
  text-align: right;
}
.app.actor.loot-sheet-npc .inventory-filters .currency li.currency-item-header {
  background: none;
  padding: 0.3em;
}
.app.actor.loot-sheet-npc .inventory-filters .currency li > * {
  background: none;
  border: none;
  margin: 0;
  color: var(--primary-font);
  text-overflow: ellipsis;
  font-size: 0.9em;
  height: calc(100% - 2px);
  padding: 1px 3px;
  display: inline-block;
}
.app.actor.loot-sheet-npc .inventory-filters .currency li input {
  text-align: right;
  width: 73%;
  border: none;
}
.app.actor.loot-sheet-npc .inventory-filters .currency li label {
  margin-left: 0;
  width: 23%;
  white-space: nowrap;
  border: none;
}
.app.actor.loot-sheet-npc .inventory-filters .currency.inventory span > span {
  width: 40px;
  text-align: center;
  margin-left: 8px;
  white-space: nowrap;
}
.app.actor.loot-sheet-npc .inventory-filters .currency + .currency {
  margin-top: -0.6em;
}
.app.actor.loot-sheet-npc .inventory-filters .currency + .currency li {
  margin: 0;
  padding-bottom: 0;
}
.app.actor.loot-sheet-npc .inventory-list .item {
  background: var(--faintest-color);
  margin: 1px 0;
  border-radius: 0.5em;
  overflow: hidden;
}
.app.actor.loot-sheet-npc .inventory-list .item .item-price {
  flex: 0 0 75px;
  color: var(--tertiary-color);
  font-size: 10px;
}
.app.actor.loot-sheet-npc .inventory-list .item .item-quantity {
  flex: 0 0 75px;
  color: var(--tertiary-color);
  font-size: 10px;
}
.app.actor.loot-sheet-npc .inventory-list .item .item-weight {
  flex: 0 0 75px;
  color: var(--tertiary-color);
  font-size: 10px;
}
.app.actor.loot-sheet-npc .inventory-list .item .item-controls {
  flex: 0 0 100px !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: flex-end;
}
.app.actor.loot-sheet-npc .inventory-list .inventory-header .item-controls a.item-create {
  flex: initial;
}
.app.actor.loot-sheet-npc .inventory-list .item-summary {
  color: var(--primary-font);
}
.app.actor.loot-sheet-npc .editor {
  height: 600px;
}
.app.actor.loot-sheet-npc .items-header {
  color: var(--primary-color);
}
.app.actor.loot-sheet-npc .items-header > * {
  margin: 5px;
}
.app.actor.loot-sheet-npc .items-header .item-controls {
  display: flex;
}
.app.actor.loot-sheet-npc .items-list .item h4 {
  color: var(--primary-font);
}
.app.actor.loot-sheet-npc .item-controls {
  flex: 0 0 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: flex-end;
}
.app.actor.loot-sheet-npc .item-controls a {
  flex: 0 0 22px;
  font-size: 12px;
  text-align: center;
  color: var(--tertiary-color);
}
.app.actor.loot-sheet-npc .item-controls a:hover {
  color: var(--secondary-color);
}
.app.actor.loot-sheet-npc input[type="text"] {
  height: calc(100% - 2px);
  border: 1px solid #7a7971;
  background: var(--background);
  color: var(--primary-font);
  text-overflow: ellipsis;
  font-size: 0.9em;
}
.app.actor.loot-sheet-npc input[type="number"] {
  height: calc(100% - 2px);
  border: 1px solid #7a7971;
  background: var(--background);
  color: var(--primary-font);
  text-overflow: ellipsis;
  font-size: 0.9em;
}
.app.actor.loot-sheet-npc select {
  height: calc(100% - 2px);
  border: 1px solid #7a7971;
  background: var(--background);
  color: var(--primary-font);
  text-overflow: ellipsis;
  font-size: 0.9em;
}
.app.actor.loot-sheet-npc select option {
  min-height: initial;
  height: 1.1em;
}
/** GM specific */
.app.loot-sheet-npc .gm-section {
  color: var(--primary-font);
  margin-top: 0.5rem;
  text-align: center;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 20px;
  font-size: 18px;
}
.app.loot-sheet-npc .gm-header {
  margin-top: 0.5rem;
}
.app.loot-sheet-npc .gm-settings {
  padding: 0.3em;
}
.app.loot-sheet-npc .gm-settings .permissions-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.app.loot-sheet-npc .gm-settings .coin-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.app.loot-sheet-npc .gm-settings .sheet-types {
  margin-right: 10px;
}
.app.loot-sheet-npc .gm-settings .inventory-settings {
  margin-right: 10px;
  margin-left: 24px;
}
.app.loot-sheet-npc .gm-settings .inventory-settings .flexrow {
  border-bottom: 1px solid var(--faint-color);
  margin-bottom: 5px;
}
.app.loot-sheet-npc .gm-settings .inventory-settings .flexrow h4 {
  margin: 2px 0 0 0;
}
.app.loot-sheet-npc .gm-settings .coins-list {
  padding-left: 24px;
}
.app.loot-sheet-npc .gm-settings h4.sheet-name {
  flex: 1;
  margin: 0 0 0 24px;
  line-height: 22px;
}
.app.loot-sheet-npc .gm-settings .permission {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 21px;
  line-height: 21px;
  border-bottom: 1px solid #CCC;
  font-size: 13px;
  flex: 1;
  flex-wrap: inherit;
  height: auto;
}
.app.loot-sheet-npc .gm-settings .permission .permission-name {
  margin: 0;
}
.app.loot-sheet-npc .gm-settings .permission .permission-proficiency {
  text-align: center;
  flex: 0 0 24px;
}
.app.loot-sheet-npc .gm-settings .permission .permission-proficiency i.fa-circle {
  font-size: 10px;
}
.app.loot-sheet-npc .gm-settings .denomination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 21px;
  line-height: 21px;
  border-bottom: 1px solid #CCC;
  font-size: 13px;
}
.app.loot-sheet-npc .gm-settings .denomination > * {
  flex: 1;
  flex-wrap: inherit;
  height: auto;
}
.app.loot-sheet-npc .gm-settings .sheet-type-info {
  display: block;
  position: absolute;
  background: var(--background);
  color: var(--primary-font);
  box-shadow: 0px 0px 4px var(--context-shadow);
  border-radius: 0.3em;
  padding: 0.3em;
  max-width: 15vw;
}
.app.loot-sheet-npc .gm-settings .permission-info {
  display: block;
  position: absolute;
  background: var(--background);
  color: var(--primary-font);
  box-shadow: 0px 0px 4px var(--context-shadow);
  border-radius: 0.3em;
  padding: 0.3em;
  max-width: 15vw;
}
.app.loot-sheet-npc .gm-settings .merchant-settings-info {
  display: block;
  position: absolute;
  background: var(--background);
  color: var(--primary-font);
  box-shadow: 0px 0px 4px var(--context-shadow);
  border-radius: 0.3em;
  padding: 0.3em;
  max-width: 15vw;
}
.app.loot-sheet-npc .gm-settings .inventory-clear-settings-info {
  display: block;
  position: absolute;
  background: var(--background);
  color: var(--primary-font);
  box-shadow: 0px 0px 4px var(--context-shadow);
  border-radius: 0.3em;
  padding: 0.3em;
  max-width: 15vw;
}
.app.loot-sheet-npc .gm-settings .help {
  color: #7a7971;
  font-size: 13px;
  display: inline-block;
}
.app.loot-sheet-npc .gm-settings .split-coins {
  width: 95%;
}
.app.loot-sheet-npc select.sheet-rolltable {
  max-width: 125px;
}
.app.loot-sheet-npc li.item.flexrow.inventory-header {
  padding: 8px 8px 0 0;
}
.app.loot-sheet-npc .infobox-wrapper {
  display: inline-block;
}
.app.loot-sheet-npc .itemsonce-info {
  display: block;
  position: absolute;
  background: var(--background);
  color: var(--primary-font);
  box-shadow: 0px 0px 4px var(--context-shadow);
  border-radius: 0.3em;
  padding: 0.3em;
  max-width: 15vw;
}
.app.loot-sheet-npc .sheet-infobox {
  display: block;
  position: absolute;
  background: var(--background);
  color: var(--primary-font);
  box-shadow: 0px 0px 4px var(--context-shadow);
  border-radius: 0.3em;
  padding: 0.3em;
  min-width: 15vw;
  max-width: 25vw;
}
.app.loot-sheet-npc section.sheet-sidebar.sidebar {
  position: absolute;
  background: url(/ui/parchment.jpg) repeat;
  background-color: var(--background);
  background-blend-mode: soft-light;
  border-bottom: 1px solid var(--header-border);
  border-right: 1px solid var(--header-border);
  box-shadow: 1px 1px 4px var(--context-shadow);
  flex: 0 0 auto;
  justify-content: center;
  border-bottom-right-radius: 0.5em;
  width: fit-content;
  opacity: 1;
  transition: all 0.75s ease;
}
.app.loot-sheet-npc section.sheet-sidebar.sidebar.hidden {
  width: 0px;
  opacity: 0;
}
button.price-modifier {
  width: auto;
  padding: 1px 10px;
  margin-right: 5px;
}
input#price-modifier-percent-display {
  background: none;
  border: 1px solid transparent;
  width: 50px;
}
input#price-modifier-percent-display:hover {
  border: 1px solid var(--context-outline);
  box-shadow: 0 0 8px red;
}
input#price-modifier-percent-display:focus {
  border: 1px solid var(--context-outline);
  box-shadow: 0 0 8px red;
}
input#quantity:hover {
  border: 1px solid var(--context-outline);
  box-shadow: 0 0 8px red;
}
input#quantity:focus {
  border: 1px solid var(--context-outline);
  box-shadow: 0 0 8px red;
}
.app.loot-sheet-npc.lootsheet-condensed {
  background: none;
  box-shadow: none;
  min-width: 20vw;
  max-width: 25vw;
  --iconwidth: 52px;
  /**
    * Style all the coins
    */
}
.app.loot-sheet-npc.lootsheet-condensed.actor.npc {
  min-width: 22vw;
}
.app.loot-sheet-npc.lootsheet-condensed .window-header {
  flex-direction: column;
  align-items: center;
  align-self: center;
  z-index: 200;
  height: 48px;
  width: 100%;
  border: none;
  margin-bottom: -1em;
}
.app.loot-sheet-npc.lootsheet-condensed .window-header:hover {
  border-radius: 0.5em;
  background: var(--header-background);
}
.app.loot-sheet-npc.lootsheet-condensed .window-header > * {
  display: none;
}
.app.loot-sheet-npc.lootsheet-condensed .window-header .close {
  display: block;
  font-size: 0;
  border-radius: 50%;
  background: var(--exhaustion-lvl3);
}
.app.loot-sheet-npc.lootsheet-condensed .window-header .close i {
  font-size: 32px;
}
.app.loot-sheet-npc.lootsheet-condensed .window-content {
  background: url(/ui/parchment.jpg) repeat, rgba(77, 49, 20, 0.85);
  background-blend-mode: color-burn;
  border-radius: 0.8em;
  box-shadow: 3px 3px 4px var(--iconshadow);
}
.app.loot-sheet-npc.lootsheet-condensed .window-content form {
  background: none;
  padding-top: 3.5em;
  width: 100%;
  border: 1em solid var(--header-background);
}
.app.loot-sheet-npc.lootsheet-condensed header.sheet-header {
  display: grid;
  grid-template-columns: 110px;
  grid-template-rows: 0.8fr 0.2fr;
  background: none;
  grid-template-areas: "Portrait" "Name";
  align-items: center;
  position: absolute;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: -8.5em;
  width: 100%;
}
.app.loot-sheet-npc.lootsheet-condensed header.sheet-header .sheet-profile-img {
  grid-area: Portrait;
  width: 11em;
  height: 11em;
  position: relative;
  z-index: 220;
}
.app.loot-sheet-npc.lootsheet-condensed header.sheet-header .sheet-profile-img img {
  width: 95px;
  height: 95px;
}
.app.loot-sheet-npc.lootsheet-condensed header.sheet-header .sheet-buttons {
  grid-area: Portrait;
  background-size: cover;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "PTL PTC PTR" "PCL PCC PCR" "PBL PBC PBR";
  width: 110px;
  height: 110px;
  position: relative;
  z-index: 220;
  overflow: visible;
}
.app.loot-sheet-npc.lootsheet-condensed header.sheet-header .sheet-buttons button {
  width: 20px;
  height: 20px;
  background: var(--header-background);
  border: none;
  margin: none;
  padding: none;
  z-index: 221;
  border-radius: 25%;
  cursor: pointer;
}
.app.loot-sheet-npc.lootsheet-condensed header.sheet-header .sheet-buttons button .fa-stack {
  font-size: 0.5em;
}
.app.loot-sheet-npc.lootsheet-condensed header.sheet-header .sheet-buttons button i {
  vertical-align: unset;
}
.app.loot-sheet-npc.lootsheet-condensed header.sheet-header .sheet-buttons .split-currency {
  grid-area: PCR;
}
.app.loot-sheet-npc.lootsheet-condensed header.sheet-header .sheet-buttons .loot-currency {
  grid-area: PBR;
}
.app.loot-sheet-npc.lootsheet-condensed header.sheet-header .sheet-buttons .loot-all {
  grid-area: PBL;
}
.app.loot-sheet-npc.lootsheet-condensed header.sheet-header .charname {
  text-align: center;
  margin-top: -0.6em;
  z-index: 221;
}
.app.loot-sheet-npc.lootsheet-condensed header.sheet-header .charname .name {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.app.loot-sheet-npc.lootsheet-condensed .sheet-navigation {
  margin-top: 1em;
}
.app.loot-sheet-npc.lootsheet-condensed .inventory-filters .currency li {
  background: none;
  margin: none;
  padding: none;
}
.app.loot-sheet-npc.lootsheet-condensed .inventory-filters .currency input[type=text] {
  height: auto;
  border: none;
  margin: 0;
  padding: 0;
  width: inherit;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.app.loot-sheet-npc.lootsheet-condensed .items-list {
  display: grid;
  gap: 1em 1em;
  grid-template-columns: repeat(5, var(--iconwidth));
  grid-auto-rows: var(--iconwidth);
}
.app.loot-sheet-npc.lootsheet-condensed .items-list .item {
  border-radius: 0.5em;
  color: #fff;
  cursor: pointer;
}
.app.loot-sheet-npc.lootsheet-condensed .items-list .item.r_rare .image {
  box-shadow: inset 0 0 0.8em #0070dd;
}
.app.loot-sheet-npc.lootsheet-condensed .items-list .item.r_veryRare .image {
  box-shadow: inset 0 0 0.8em #a335ee;
}
.app.loot-sheet-npc.lootsheet-condensed .items-list .item.r_legendary .image {
  box-shadow: inset 0 0 0.8em #a335ee;
}
.app.loot-sheet-npc.lootsheet-condensed .items-list .item.r_legendary .image {
  box-shadow: inset 0 0 0.8em #e6cc80;
}
.app.loot-sheet-npc.lootsheet-condensed .items-list .item.r_heirloom .image {
  box-shadow: inset 0 0 0.8em #00ccff;
}
.app.loot-sheet-npc.lootsheet-condensed .items-list .item .quantity {
  font-family: var(--modesto);
  font-size: 1.8em;
  padding: 0.5em;
  line-height: 0.9em;
  display: block;
  margin-top: auto;
  margin-left: auto;
  align-self: flex-end;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.app.loot-sheet-npc.lootsheet-condensed .items-list .item .image {
  display: flex;
  height: var(--iconwidth);
  width: var(--iconwidth);
  background-position: center;
  background-size: contain;
  box-shadow: inset 0 0 0.8em rgba(0, 0, 0, 0.8);
  padding: 0.3em;
}
.app.loot-sheet-npc.lootsheet-condensed .items-list .item .image:hover {
  box-shadow: inset 0 0 0.8em rgba(243, 242, 242, 0.91);
}
.app.loot-sheet-npc.lootsheet-condensed .coin input {
  font-style: italic;
  position: relative;
  font-size: 16px;
  z-index: 221;
  top: 30%;
  left: 18%;
  text-shadow: 2px 2px var(--iconshadow);
}
.app.loot-sheet-npc.lootsheet-condensed .coin.coin-cp input {
  color: #dfb667;
}
.app.loot-sheet-npc.lootsheet-condensed .coin.coin-sp input {
  color: #a0a0a0;
}
.app.loot-sheet-npc.lootsheet-condensed .coin.coin-ep input {
  color: #6c7677;
}
.app.loot-sheet-npc.lootsheet-condensed .coin.coin-gp input {
  color: #f2d732;
}
.app.loot-sheet-npc.lootsheet-condensed .coin.coin-pp input {
  color: #a0a0a0;
}
.app.loot-sheet-npc.lootsheet-condensed .coin {
  background: none;
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  position: relative;
  border-radius: 50%;
  z-index: 220;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}
.app.loot-sheet-npc.lootsheet-condensed .coin:after {
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  top: 4px;
  left: 4px;
  position: absolute;
  border-radius: 50px;
  z-index: 210;
}
.app.loot-sheet-npc.lootsheet-condensed .coin.coin-sp:after,
.app.loot-sheet-npc.lootsheet-condensed .coin.coin-ep:after,
.app.loot-sheet-npc.lootsheet-condensed .coin.coin-pp:after {
  background: linear-gradient(45deg, #dfb667 0%, #f9f3e8 56%, #e7c074 96%);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(209, 156, 53, 0.3);
  border-right: 1px solid rgba(209, 156, 53, 0.5);
  box-shadow: inset 0px 0px 2px 2px rgba(153, 106, 26, 0.05);
}
.app.loot-sheet-npc.lootsheet-condensed .coin.coin-sp:after,
.app.loot-sheet-npc.lootsheet-condensed .coin.coin-ep:after,
.app.loot-sheet-npc.lootsheet-condensed .coin.coin-pp:after {
  background: linear-gradient(45deg, #b5b5b5 0%, #fcfcfc 56%, #e8e8e8 96%);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(160, 160, 160, 0.3);
  border-right: 1px solid rgba(160, 160, 160, 0.5);
  box-shadow: inset 0px 0px 2px 2px rgba(150, 150, 150, 0.05);
}
.app.loot-sheet-npc.lootsheet-condensed .coin.coin-cp:after {
  background: linear-gradient(45deg, #dfb667 0%, #ffffff 56%, #772a0c 96%);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(242, 215, 12, 0.3);
  border-right: 1px solid rgba(242, 215, 12, 0.3);
  box-shadow: inset 0px 0px 2px 2px rgba(150, 150, 150, 0.05);
}
.app.loot-sheet-npc.lootsheet-condensed .coin.coin-gp:after {
  background: linear-gradient(45deg, #f2d70c 0%, #ffffff 56%, #dfb667 96%);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(242, 215, 12, 0.3);
  border-right: 1px solid rgba(242, 215, 12, 0.3);
  box-shadow: inset 0px 0px 2px 2px rgba(150, 150, 150, 0.05);
}
