
.system-dnd5e, .system-pf2, .system-pf1 {
	--modesto: "Modesto Condensed", "Palatino Linotype", serif;
	--signika: "Signika", sans-serif;
	--primary-font: rgba(0, 0, 0, 0.9);
	--background: #ece9df;
	--faintest-color: rgba(0, 0, 0, 0.05);
	--faint-color: rgba(0, 0, 0, 0.1);
	--light-color: rgba(0, 0, 0, 0.25);
	--primary-color: rgba(0, 0, 0, 0.9);
	--secondary-color: rgba(0, 0, 0, 0.65);
	--tertiary-color: rgba(0, 0, 0, 0.4);
	--primary-accent: #ff6400;
	--white: #ffffff;
	--faint-white: rgba(255, 255, 255, 0.2);
	--linked-accent: rgba(0, 255, 0, 0.75);
	--unlinked-accent: rgba(255, 0, 0, 0.75);
	--linked-light: rgba(0, 255, 0, 0.4);
	--unlinked-light: rgba(255, 0, 0, 0.4);
	--safe-accent: rgba(0, 150, 100, 0.6);
	--unsafe-accent: rgba(255, 0, 0, 0.6);
	--header-background: rgba(255, 255, 255, 0.2);
	--header-border: rgba(0, 0, 0, 0.25);
	--stat-font: #ece9df;
	--prepareable: #778899;
	--prepared: rgba(50, 205, 50, 0.3);
	--prepared-outline: #32cd32;
	--prepared-accent: #adff2f;
	--always-prepared: rgba(0, 0, 255, 0.15);
	--always-prepared-outline: #4169e1;
	--always-prepared-accent: #00bfff;
	--magic-accent: #ffff00;
	--faint-magic-accent: rgba(255, 255, 0, 0.6);
	--magic-outline: #afff2f;
	--attunement-required: #cd5c5c;
	--icon-background: #ece9df;
	--icon-shadow: rgba(0, 0, 0, 0.4);
	--icon-outline: rgba(0, 0, 0, 0.4);
	--icon-font: rgba(0, 0, 0, 0.4);
	--exhaustion-font: rgba(0, 0, 0, 0.4);
	--icon-hover: rgba(0, 0, 0, 0.9);
	--pc-border: 0px;
	--npc-border: 0px;
	--vehicle-border: 0px;
	--note-background: rgba(0, 0, 0, 0.9);
	--exhaustion-lvl1: #ffe600;
	--exhaustion-lvl2: #ff8200;
	--exhaustion-lvl3: #ff3200;
	--ability-accent: darkslategrey;
	--context-outline: rgba(0, 0, 0, 0.4);
	--context-shadow: rgba(0, 0, 0, 0.65);
	--check-default: url(../images/check-dark-unchecked.svg);
	--check-checked: url(../images/check-dark-checked.svg);
	--checkbox-font: rgba(0, 0, 0, 0.9);
	--checkbox-outline: #969696;
	--checkbox-unchecked: #D8D7D1;
	--checkbox-checked: rgba(0, 255, 0, 0.3);
	--icon-size: 32px;

	/**
	* Entity rarity colors
	*/
	--rarity-common: rgba(255,255,255, 0.75);
	--rarity-uncommon: rgba(30,255,0, 0.75);
	--rarity-rare: rgba(0,112,221, 0.75);
	--rarity-veryrare: rgba(163,53,238, 0.75);
	--rarity-legendary: rgba(255,128,0, 0.75);
}

.system-dnd5e.tidy5eDark {
	--primary-font: rgba(255, 255, 255, 0.8);
	--background: #1e1e1e;
	--white: #000000;
	--primary-color: rgba(255, 255, 255, 0.8);
	--secondary-color: rgba(255, 255, 255, 0.65);
	--tertiary-color: rgba(255, 255, 255, 0.4);
	--light-color: rgba(255, 255, 255, 0.25);
	--faint-color: rgba(255, 255, 255, 0.1);
	--faintest-color: rgba(255, 255, 255, 0.05);
	--ability-accent: darkslategrey;
	--header-background: rgba(255, 255, 255, 0.05);
	--header-border: rgba(255, 255, 255, 0.25);
	--primary-accent: #ff6400;
	--prepared: rgba(0, 250, 180, 0.3);
	--always-prepared: rgba(0, 100, 255, 0.3);
	--icon-background: #1e1e1e;
	--icon-shadow: rgba(0, 0, 0, 0.4);
	--icon-outline: rgba(0, 0, 0, 0.4);
	--icon-font: rgba(255, 255, 255, 0.4);
	--icon-hover: rgba(255, 255, 255, 0.8);
	--warning-accent: rgba(255, 30, 0, 0.65);
	--check-default: url(../images/check-dark-unchecked.svg);
	--check-checked: url(../images/check-light-checked.svg);
	--checkbox-font: rgba(255, 255, 255, 0.8);
	--checkbox-outline: #323232;
	--checkbox-unchecked: #4b4b4b;
	--checkbox-checked: rgba(0, 255, 0, 0.5);
}

.rarityMixin() {
	&[class*='rarity'] {
		.item-name{
			font-family: var(--modesto);
			@color: --rarity-common;
			color: @color;
			//box-shadow: 0 0 0.2em 0.1em inset var(@color);
		}
		&[class*='uncommon'] {
			@color: --rarity-uncommon;
			.item-image {
				box-shadow: 0 0 0.2em 0.1em inset;
			}
			.item-name{
				color: @color;
			}
		}
		&[class*='rare'] .item-image {
			@color: --rarity-rare;
			.item-image {
				box-shadow: 0 0 0.2em 0.1em inset;
			}
			.item-name{
				color: @color;
			}
		}
		&[class*='veryRare'] .item-image {
			box-shadow: 0 0 0.2em 0.1em inset var(--rarity-veryrare);
		}
		&[class*='legendary'] .item-image {
			box-shadow: 0 0 0.2em 0.1em inset var(--rarity-legendary);
		}
	}
}

.app.actor.loot-sheet-npc {
    .window-content {
        color: var(--primary-font);
        padding: 0;
		display: flex;
		align-items: center;
		background: var(--faintest-color);
		.hidden {
			display: none;
		}
		.collapser {
			position: relative;
			float: left;
			flex: none;
			border: 1px solid var(--faint-white);
			background: var(--safe-accent);
			height: fit-content;
			padding: 0.3em;
			border-top-right-radius: 0.5em;
			border-bottom-right-radius: 0.5em;
			border-left: none;
			cursor: pointer;
			z-index: 200;
		}
    }

    form {
        overflow-y: auto !important;
        background: var(--background);
		width: 100%;

        select {
            color: var(--primary-font);
        }
        button {
            color: var(--primary-font);
			width: fit-content;
			border-radius: 0.5em;
			border: 1px solid var(--header-border);
			padding: 0 0.3em;
			align-self: self-end;
			cursor: pointer;

			:hover {
				box-shadow: 0 0 0.3em var(--icon-shadow) inset;
			}
        }

    }

    header.sheet-header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 120px 30px;
        gap: 0px 0px;
        grid-template-areas: "Portrait Name Name Actions" "Portrait Navigation Navigation Navigation";
        background: var(--header-background);
        font-family: var(--modesto);
        border-bottom: 0;

		>* {
			flex: none;
		}

        .sheet-profile-img {
            grid-area: Portrait;
            align-self: center;
            justify-self: center;
            background-color: var(--background);
            border: 1px solid var(--icon-outline);
            border-radius: 50%;
            max-height: 12vh;
            max-width: 12vh;
            overflow: hidden;

            img.sheet-profile {
                background: var(--icon-background);
                border: none;
                box-shadow: 0 0 10px var(--icon-shadow) inset;
                height: initial;
                object-fit: cover;
                object-position: top;
                vertical-align: middle;
                border-radius: 50%;
                flex: none;
                width: 100%;
                height: 100%;
                max-width: 220px;
                max-height: 220px;
            }
        }

		.charname {
			grid-area: Name;
			input {
				border: none;
				background: none;
			}
		}
        .charbutton {
			grid-area: Actions;
			margin: auto;
			text-align: right;
		}
		h1 {
			input {
				margin: 0px;
			}
		}
	}

	nav.sheet-navigation {
		margin-bottom: 0;
		.item {
			background: var(--header-background);
			border: 1px solid transparent;
			border-bottom: 1px solid var(--light-color);
			padding: 0 0.5em;
			margin: 0;
		}
		.item.active {
			background: transparent;
			border: 1px solid var(--light-color);
			border-bottom-color: transparent;
			font-weight: 700;
			cursor: default;
		}
	}

	section.sheet-content.content {
        padding: 0 0.8em 0.8em 0;
    }

	.editor {
		height: 600px;
	}

    .items-header {
        color: var(--primary-color);
        >* {
            margin: 5px;
        }
        .item-controls {
            display: flex;
        }
    }

    .items-list {
        .item {
			.rarityMixin();

            h4 {
                color: var(--primary-font);
            }
        }
    }

    .item-controls {
        flex: 0 0 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        justify-content: flex-end;

        a {
            flex: 0 0 22px;
            font-size: 12px;
            text-align: center;
            color: var(--tertiary-color);
            &:hover {
                color: var(--secondary-color);
            }
        }
    }

    input[type="text"] {
        height: calc(100% - 2px);
        border: 1px solid #7a7971;
        background: var(--background);
        color: var(--primary-font);
        text-overflow: ellipsis;
        font-size: 0.9em;
    }
    input[type="number"] {
        height: calc(100% - 2px);
        border: 1px solid #7a7971;
        background: var(--background);
        color: var(--primary-font);
        text-overflow: ellipsis;
        font-size: 0.9em;
    }
    select {
        height: calc(100% - 2px);
        border: 1px solid #7a7971;
        background: var(--background);
        color: var(--primary-font);
        text-overflow: ellipsis;
        font-size: 0.9em;
        option {
            min-height: initial;
            height: 1.1em;
        }
    }
}

/** GM specific */

.app.loot-sheet-npc {
    .gm-section {
		color: var(--primary-font);
		font-size: 20px;
		margin-top: 0.5rem;
		text-align: center;
		border-top: 1px solid #CCC;
		border-bottom: 1px solid #CCC;
		font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
		font-size: 20px;
		font-size: 18px;
	}
	.gm-header {
		margin-top: 0.5rem;
	}
	.gm-settings {
		padding: 0.3em;
		.coin-list {
			margin: 0;
			padding: 0;
			list-style: none;
		}
		.sheet-types {
			margin-right: 10px;
		}
		.inventory-settings {
			margin-right: 10px;
			margin-left: 24px;
			.flexrow {
				border-bottom: 1px solid var(--faint-color);
				margin-bottom: 5px;
				border-bottom: 1px solid var(--faint-color);
				margin-bottom: 5px;
				h4 {
					margin: 2px 0 0 0;
				}
			}
		}
		.coins-list {
			padding-left: 24px;
		}
		h4.sheet-name {
			flex: 1;
			margin: 0 0 0 24px;
			line-height: 22px;
		}

		.denomination {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: flex-start;
			height: 21px;
			line-height: 21px;
			border-bottom: 1px solid #CCC;
			font-size: 13px;
			>* {
				flex: 1;
				flex-wrap: inherit;
				height: auto;
			}
		}
		.sheet-type-info {
			display: block;
			position: absolute;
			background: var(--background);
			color: var(--primary-font);
			box-shadow: 0px 0px 4px var(--context-shadow);
			border-radius: 0.3em;
			padding: 0.3em;
			max-width: 15vw;
			z-index: 1000;
		}
		.inventory-clear-settings-info {
			display: block;
			position: absolute;
			background: var(--background);
			color: var(--primary-font);
			box-shadow: 0px 0px 4px var(--context-shadow);
			border-radius: 0.3em;
			padding: 0.3em;
			max-width: 15vw;
		}
		.help {
			color: #7a7971;
			font-size: 13px;
			display: inline-block;
		}
		.split-coins {
			width: 95%;
		}
	}
	select.sheet-rolltable {
		max-width: 125px;
	}
	li.item.flexrow.inventory-header {
		padding: 8px 8px 0 0;
	}

    .infobox-wrapper {
        display: inline-block;
    }
    .itemsource-info {
        display: block;
        position: absolute;
        background: var(--background);
        color: var(--primary-font);
        box-shadow: 0px 0px 4px var(--context-shadow);
        border-radius: 0.3em;
        padding: 0.3em;
        max-width: 15vw;
    }
    .sheet-infobox {
        display: block;
        position: absolute;
        background: var(--background);
        color: var(--primary-font);
        box-shadow: 0px 0px 4px var(--context-shadow);
        border-radius: 0.3em;
        padding: 0.3em;
        min-width: 25vw;
		max-width: 40vw;
		margin-top: -12%;
    	margin-left: 1.6em;

		dl {
			display: flex;

			> * {
				border: 0;
				padding: 0;
				width: 50%;
			}
			dt {
				width: 25%;
			}
			dd {
				width: 75%;
			}
		}
    }

    section.sheet-sidebar.sidebar {
        position: absolute;
        background: url(/ui/parchment.jpg) repeat;
		background-color: var(--background);
		background-blend-mode: soft-light;
        border: 1px solid var(--header-border);
        border-left: 0;
        box-shadow: 1px 1px 4px var(--context-shadow);
        flex: 0 0 auto;
        justify-content: center;
        border-bottom-right-radius: 0.5em;
		border-radius: 0 0.5em 0.5em 0;
		min-width: fit-content;
        max-width: 310px;
        opacity: 1;
        transition: all .75s ease;
		z-index: 200;

        &.hidden {
            width: 0px;
            opacity: 0;
        }
    }
}

button.price-modifier {
	width: auto;
	padding: 1px 10px;
	margin-right: 5px;
}
input#price-modifier-percent-display {
	background: none;
	border: 1px solid transparent;
	width: 50px;
	&:hover {
		border: 1px solid var(--context-outline);
		box-shadow: 0 0 8px red;
	}
	&:focus {
		border: 1px solid var(--context-outline);
		box-shadow: 0 0 8px red;
	}
}
input#quantity {
	&:hover {
		border: 1px solid var(--context-outline);
		box-shadow: 0 0 8px red;
	}
	&:focus {
		border: 1px solid var(--context-outline);
		box-shadow: 0 0 8px red;
	}
}
@import "partials/permissions.less";
@import "partials/inventory.less";

@import "lootchatcard.less";
@import "lootpopulator.less";

@import "themes/condensed.less";
